<div style="background-color:red; height: 3em">

</div>

# Block description: `Backtesting`

<div style="background-color:red; height: 3em">

</div>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import os
import sys
import time
import json
import requests
from pandas.io.json import json_normalize
import csv

In [4]:
# import the data
df = pd.read_csv('data/stock_infos/dividend_values_per_symbol.csv')
df

           date         variable       value symbol
0       2005-03      adjDividend      0.0065   ADBE
1       2004-12      adjDividend      0.0065   ADBE
2       2004-09      adjDividend      0.0065   ADBE
3       2004-06      adjDividend      0.0065   ADBE
4       2004-03      adjDividend      0.0065   ADBE
...         ...              ...         ...    ...
101225  1988-02  declarationDate  1987-12-17  CMCSA
101226  1987-11  declarationDate  1987-09-18  CMCSA
101227  1987-08  declarationDate  1987-06-26  CMCSA
101228  1987-05  declarationDate  1987-03-27  CMCSA
101229  1987-02  declarationDate  1987-01-02  CMCSA

[101230 rows x 4 columns]

In [5]:
df[(df["variable"] == "adjDividend") & (df["symbol"] == "MSFT")]

         date     variable value symbol
3405  2024-02  adjDividend  0.75   MSFT
3406  2023-11  adjDividend  0.75   MSFT
3407  2023-08  adjDividend  0.68   MSFT
3408  2023-05  adjDividend  0.68   MSFT
3409  2023-02  adjDividend  0.68   MSFT
...       ...          ...   ...    ...
3481  2005-02  adjDividend  0.08   MSFT
3482  2004-11  adjDividend  3.08   MSFT
3483  2004-08  adjDividend  0.08   MSFT
3484  2003-10  adjDividend  0.16   MSFT
3485  2003-02  adjDividend  0.08   MSFT

[81 rows x 4 columns]

In [47]:
# filtering data to get symbols which haven't lost there dividenden until a given date

# filtering data to get symbols wich have dividend over 5

# filtering data to get symbols wich have consistent increased there dividends


def dividend_roll_until_x(df: pd.DataFrame, x: datetime.date, look_back_years: int = 5):
    """
    This function returns a dataframe with all symbols which have a dividend roll date until x
    """
    df_temp = df.loc[(df["variable"] == "adjDividend") & (pd.to_datetime(df["date"]) <= pd.to_datetime(x))]
    df_temp["year_period"] = pd.to_datetime(df["date"]).dt.to_period("Y")
    
    df_temp = df_temp.groupby("year_period").count().reset_index()
    
    # subtract year of x with look_back_years
    first_year = x.year - look_back_years

    df_temp = df_temp.loc[df_temp["year_period"].astype(str).astype(int) >= first_year]

    return df_temp

dividend_roll_until_x(df[df["symbol"] == "MSFT"], datetime.date(2020, 1, 1), 5)

C:\Users\Bene\AppData\Local\Temp/ipykernel_29548/855995756.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temp["year_period"] = pd.to_datetime(df["date"]).dt.to_period("Y")

   year_period  date  variable  value  symbol
12        2015     4         4      4       4
13        2016     4         4      4       4
14        2017     4         4      4       4
15        2018     4         4      4       4
16        2019     4         4      4       4